DFNKImport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="DFNKImport" targetNamespace="http://tempuri.org/DFNKImport1.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/DFNKImport1.xsd" xmlns:mstns="http://tempuri.org/DFNKImport1.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="DFNKImport" type="dfNKImportType"/>
	<xs:complexType name="dfNKImportType">
		<xs:annotation>
			<xs:documentation>Wurzeleintrag der NK-XML-Datei</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="Lohn" type="lohnType" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Lohndatensatz</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Geraet" type="geraetType" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Gerätedatensatz</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Material" type="materialType" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Materialdatensatz</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name ="nkBaseType">
		<xs:annotation>
			<xs:documentation>Basistyp eines NK-Datensatzes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kennung" type="xs:string" minOccurs="0" >
				<xs:annotation>
					<xs:documentation>Kennung der ausgebenen Software. Wird vom BUSINESS nicht verwendet, wird nur in den Fehlermeldungen mit ausgegeben.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Datum" type="xs:date">
				<xs:annotation>
					<xs:documentation>Datum im Format dd.MM.jjjj oder yyyy-MM-dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LVNr" type="lvNummerType">
				<xs:annotation>
					<xs:documentation>Nummer des Leistungsverzeichnis</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:annotation>
					<xs:documentation>Entweder auf Position verbuchen oder als Taglohn, oder keins von beiden</xs:documentation>
				</xs:annotation>
				<xs:element name="PosNr" type="positionNummerType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nummer des Position</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="IstTaglohn" type="xs:boolean" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>Soll der Buchungssatz als Taglohn verbucht werden</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="Bemerkung" type="string60Type" minOccurs="0" >
				<xs:annotation>
					<xs:documentation>Bemerkung zur NK-Buchung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ErfasstVon" type="string60Type" minOccurs="0" >
				<xs:annotation>
					<xs:documentation>Name des Erfassers der Buchung</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name = "lohnType">
		<xs:annotation>
			<xs:documentation>Lohndatensatz</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="nkBaseType">
				<xs:sequence>
					<xs:element name="PersonalNr" type="xs:string" >
						<xs:annotation>
							<xs:documentation>Personalnummer des Mitarbeiters. Muss einem im BUSINESS definierten Mitarbeiter eindeutig identifizieren.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Lohnart" type="xs:integer" >
						<xs:annotation>
							<xs:documentation>Eine in DATAflor BUSINESS definierte Lohnartennummer</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:sequence minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Detailierte Zeitinformationen. Es müssen entweder alle drei Elemente vorhandein oder gar keins.</xs:documentation>
						</xs:annotation>
						<xs:element name="von" type="xs:time" >
							<xs:annotation>
								<xs:documentation>Format hh:mm</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="bis" type="xs:time" >
							<xs:annotation>
								<xs:documentation>Format hh:mm</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Pause" type="xs:float" >
							<xs:annotation>
								<xs:documentation>Anzahl der Pausenstunden</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:element name="Stunden" type="xs:float" >
						<xs:annotation>
							<xs:documentation>Anzahl der Stunden die verbucht werden sollen. Anzugeben im Dezimalsystem (z.B. 0.5 => entspricht 30 Minuten ).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InklZeiten" minOccurs="0" maxOccurs="3">
						<xs:annotation>
							<xs:documentation>Gegenwärtig nicht unterstützt!</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Lohnart" type="xs:integer" >
									<xs:annotation>
										<xs:documentation>Eine in DATAflor BUSINESS definierte Lohnartennummer</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Stunden" type="xs:float" >
									<xs:annotation>
										<xs:documentation>Anzahl der Stunden die verbucht werden sollen. Anzugeben im Dezimalsystem (z.B. 0.5 => entspricht 30 Minuten ).</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ZzglZeit" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Gegenwärtig nicht unterstützt!</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Lohnart" type="xs:integer" >
									<xs:annotation>
										<xs:documentation>Eine in DATAflor BUSINESS definierte Lohnartennummer</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Stunden" type="xs:float" >
									<xs:annotation>
										<xs:documentation>Anzahl der Stunden die verbucht werden sollen. Anzugeben im Dezimalsystem (z.B. 0.5 => entspricht 30 Minuten ).</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="IstTerminabrechnung" type="xs:boolean" minOccurs="0" >
						<xs:annotation>
							<xs:documentation>Soll für das Datum der Buchung ein Abrechnungstermin angelegt werden. Darf nicht true sein wenn IstTaglohn true ist.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:sequence minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Diese Daten müssen vorhanden sein, wenn die LVNr Gerät-01-0001 ist und es somit eine Lohnbuchung auf ein Gerät ist</xs:documentation>
						</xs:annotation>
						<xs:element name="GeraeteNr" type="geraeteNummerType" >
							<xs:annotation>
								<xs:documentation>Nummer des Gerätes. Es muss sich um ein im BUSINESS definiertes Gerät handeln.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Geraetekostenart" type="xs:string" >
							<xs:annotation>
								<xs:documentation>Im Business definierte Kostenart für die das Gerät bebucht werden soll</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="geraetType">
		<xs:annotation>
			<xs:documentation>Gerätedatensatz</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="nkBaseType">
				<xs:sequence>
					<xs:element name="GeraeteNr" type="geraeteNummerType" >
						<xs:annotation>
							<xs:documentation>Nummer des Gerätes. Es muss sich um ein im BUSINESS definiertes Gerät handeln.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Stunden" type="xs:float" >
						<xs:annotation>
							<xs:documentation>Anzahl der Stunden die verbucht werden sollen. Anzugeben im Dezimalsystem (z.B 0.5 => entspricht 30 Minuten ).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="materialType">
		<xs:annotation>
			<xs:documentation>Materialdatensatz</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="nkBaseType">
				<xs:sequence>
					<xs:element name="KreditorenNr" type="kreditorenNummerType">
						<xs:annotation>
							<xs:documentation>Kreditorennummer des Lieferanten für dieses Material</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Bezeichnung" type="string60Type">
						<xs:annotation>
							<xs:documentation>Materialbezeichnung</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Menge" type="xs:float" />
					<xs:element name="Mengeneinheit" type="mengeneinheitType" />
					<xs:element name="Einzelpreis" type="xs:float" minOccurs="0" >
						<xs:annotation>
							<xs:documentation>Einzelpreis des Materials. Wenn weder der Einzelpreis nicht vorhanden ist, wird er mit 0 € angenommen</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Kostenart" type="kostenartType" >
						<xs:annotation>
							<xs:documentation>Kostenart für die das Material verbucht werden soll</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Lieferscheinnummer" type="lieferscheinNummerType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Nummer des zugehörigen Lieferscheins</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:sequence minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Diese Daten müssen vorhanden sein, wenn die LVNr Gerät-01-0001 ist und es somit eine Lohnbuchung auf ein Gerät ist</xs:documentation>
						</xs:annotation>
						<xs:element name="GeraeteNr" type="geraeteNummerType" >
							<xs:annotation>
								<xs:documentation>Nummer des Gerätes. Es muss sich um ein im BUSINESS definiertes Gerät handeln.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Geraetekostenart" type="xs:string" >
							<xs:annotation>
								<xs:documentation>Im Business definierte Kostenart für die das Gerät bebucht werden soll</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="kostenartType">
		<xs:annotation>
			<xs:documentation>Kostenart der Materialbuchung</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Material">
				<xs:annotation>
					<xs:documentation>Verbuchung als Material</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Fremdleistung">
				<xs:annotation>
					<xs:documentation>Verbuchung als Fremdleistung</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sonstiges">
				<xs:annotation>
					<xs:documentation>Verbuchung als Sonstiges</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Entsorgung">
				<xs:annotation>
					<xs:documentation>Verbuchung als Entsorgung</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Pflanze">
				<xs:annotation>
					<xs:documentation>Verbuchung als Pflanze</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string60Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="kreditorenNummerType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="mengeneinheitType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lvNummerType">
		<xs:annotation>
			<xs:documentation>Nummer des Leistungsverzeichnis</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="positionNummerType">
		<xs:annotation>
			<xs:documentation>Nummer der Position</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lieferscheinNummerType">
		<xs:annotation>
			<xs:documentation>Nummer des Lieferscheins</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="geraeteNummerType">
		<xs:annotation>
			<xs:documentation>Nummer eines Gerätes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>